.wrapper {
    flex-shrink: 0;
    width: calc(var(--base) * 40);
    height: calc(var(--base) * 50);
    padding: calc(var(--base) * 2);
    border-radius: calc(var(--base) * 2);
    display: flex;
    flex-direction: column;
    background: beige;
}

.wrapper h3, .wrapper h4 {
    margin: var(--base);
}

.cardList {
    align-self: center;
}
